<html>
    <head>
        <title>Kus Part 1</title>
        <link rel=stylesheet href="/static/styles/index.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/"><img src="/static/images/Logo.png"></a>
            <div class="center">Welcome</div>
            <div class="registerContainer">
                <form action="/register">
                    <button type="submit"><div class="content">Register</div></button>
                </form>
            </div>
            <div class="loginContainer">
                <form action="/login">
                    <button type="submit"><div class="content">Login</div></button>
                </form>
            </div>
        </div>
        <div class="home">
            <div class="left">
                
            </div>
            <div class="center">
                Um den Inhalt der Website zu sehen musst du dich einlogen.
            </div>
            <div class="right">
                
            </div>
        </div>
    </body>
    <script src="/static/js/js.js"></script>
</html>